NEXT_PUBLIC_TASK_API_URL=http://localhost:8080/api
NEXT_PUBLIC_TASK_BACKEND_URL=http://localhost:8080/api

NEXT_PUBLIC_USER_API_URL=http://localhost:8081/api
NEXT_PUBLIC_USER_BACKEND_URL=http://localhost:8081/api