@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #676777;
  --color-secondary: #d8d8ee;
}

body {
  background-color: var(--color-primary);
}

/* @layer utilities {
  .text-error {
    @apply text-pretty text-[10px] text-red-500;
  }
} */